body {
    margin-left: 5%;
    background-color: #1F2937;
    
}


h1{
    color:white;
}
.btn{
    color:green;
    border-radius:5%;
    margin-bottom:5%;
    box-shadow:1px 2px black;
}
div{
    color:greenyellow;
    display: inline;
    margin-left:5%;
}
